.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.btn {
  background-color: #b8860b;
  padding: 0.65rem 2rem;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: "Overpass", sans-serif;
  cursor: pointer;
}

.btn-overall {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.button-container {
  display: flex;
  gap: 13rem;
}

.btn-link {
  background-color: #b8860b;
  padding: 0.55rem 1rem;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-family: "Overpass", sans-serif;
  cursor: pointer;
}

.btn-about {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.about-container {
  padding-top: 3rem;
}
.about-container .About-header {
  letter-spacing: 4px;
  line-height: 100px;
  color: rgb(212, 206, 206);
  font-family: "Overpass", sans-serif;
  font-size: 60px;
  max-width: 700px;
}
.about-container .about-section {
  padding-top: 6rem;
  display: flex;
  gap: 4rem;
}
.about-container .about-section .continous {
  width: 500px;
}
.about-container .my-self {
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 20px;
  line-height: 40px;
  max-width: 600px;
}

.tools {
  padding-top: 2rem;
}
.tools h1 {
  padding-top: 3rem;
  color: rgb(212, 206, 206);
  font-family: "Overpass", sans-serif;
  text-align: center;
}

.tools-icon {
  font-size: 50px;
  color: cornflowerblue;
}

.tools-img {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 4rem;
}

.services {
  color: white;
  font-family: "Overpass", sans-serif;
  background-color: azure;
  padding-bottom: 3rem;
  height: 400px;
}
.services .section-heading {
  color: black;
  padding-top: 1.5rem;
  margin-left: 3rem;
}
.services .services-title {
  color: black;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.services .services-container {
  margin-left: 3rem;
  margin-right: 3rem;
  color: black;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  gap: 3rem;
}

.work-container {
  padding-top: 3rem;
}
.work-container h1 {
  letter-spacing: 4px;
  line-height: 100px;
  color: rgb(212, 206, 206);
  font-family: "Overpass", sans-serif;
  font-size: 60px;
  max-width: 700px;
}
.work-container .heading {
  padding-bottom: 3rem;
}
.work-container p {
  color: rgb(212, 206, 206);
  font-size: 20px;
  font-family: "Overpass", sans-serif;
}
.work-container small {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work-container .work-sect {
  margin-bottom: 2rem;
}
.work-container .lat__works {
  padding-top: 3rem;
}
.work-container .lat__works p {
  font-size: 20px;
}
.work-container .lat__works .img-works {
  width: 430px;
}
.work-container .img-container {
  margin-bottom: 1rem;
}
.work-container .work-title p {
  font-size: 17px;
}
.work-container .horizontal {
  width: 100%;
  border: 1px solid rgb(212, 206, 206);
  height: 0.0625rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
}

.logo {
  font-weight: 400;
  font-style: normal;
  font-family: "Rubik Doodle Triangles", system-ui;
}

.nav-container {
  padding-top: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  color: #fff;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-family: "Overpass", sans-serif;
  color: #fff;
}

.container-link {
  display: flex;
  gap: 2rem;
  color: #fff;
}

.intro {
  color: #fff;
  font-family: "Overpass", sans-serif;
  margin-left: auto;
  margin-right: auto;
}
.intro .intro-section {
  padding-top: 5rem;
}
.intro p {
  font-size: 40px;
}
.intro h1 {
  padding-top: 2rem;
  font-size: 100px;
  letter-spacing: 2px;
  color: rgb(212, 206, 206);
}
.intro .vertical-line {
  position: relative;
  width: 2px;
  height: 40px;
  background-color: rgb(212, 206, 206);
  margin: 0 10px;
}
.intro .vertical-line::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.intro .section {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 1rem;
}
.intro .section-intro {
  display: flex;
  align-items: center;
  align-self: center;
  gap: 1rem;
  padding-top: 1rem;
}
.intro .mid-section {
  padding-top: 2rem;
}
.intro .mid-text {
  font-size: 20px;
}
.intro .btn-btns {
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
}
.intro .second-section {
  padding-top: 5rem;
}
.intro .second-section p {
  font-size: 25px;
  color: rgb(212, 206, 206);
  letter-spacing: 2px;
  max-width: 900px;
  padding-bottom: 3rem;
}
.intro small {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.intro .work-sect {
  margin-bottom: 2rem;
}
.intro .lat__works {
  padding-top: 3rem;
}
.intro .lat__works p {
  font-size: 20px;
}
.intro .lat__works .img-works {
  width: 430px;
}
.intro .img-container {
  margin-bottom: 1rem;
}
.intro .work-title p {
  font-size: 17px;
}
.intro .horizontal {
  width: 100%;
  border: 1px solid rgb(212, 206, 206);
  height: 0.0625rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

@media (max-width: 1024px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
@media (max-width: 768px) {
  .lat-title {
    text-align: center;
    padding-bottom: 2rem;
  }
  small {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .work-sect {
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=style.css.map */
