.about-container {
  padding-top: 3rem;

  .About-header {
    letter-spacing: 4px;
    line-height: 100px;
    color: rgb(212, 206, 206);
    font-family: "Overpass", sans-serif;
    font-size: 60px;
    max-width: 700px;
  }
  .about-section {
    padding-top: 6rem;
    display: flex;
    gap: 4rem;

    .continous {
      width: 500px;
    }
  }

  .my-self {
    color: white;
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    line-height: 40px;
    max-width: 600px;
  }
}
.tools {
  padding-top: 2rem;

  h1 {
    padding-top: 3rem;
    color: rgb(212, 206, 206);
    font-family: $font-body;
    text-align: center;
  }
}
.tools-icon {
  font-size: 50px;
  color: cornflowerblue;
}
.tools-img {
  padding-top: 3rem;
  padding-bottom: 5rem;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  gap: 4rem;
}

.services {
  color: white;
  font-family: $font-body;
  background-color: azure;
  padding-bottom: 3rem;
  height: 400px;

  .section-heading {
    color: black;
    padding-top: 1.5rem;

    margin-left: 3rem;
  }
  .services-title {
    color: black;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }
  .services-container {
    margin-left: 3rem;
    margin-right: 3rem;
    color: black;
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
    gap: 3rem;
  }
}
